#clock {
    height: 580px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 110px auto 10px;
}
#canvasBackground {
    z-index: 1;
}


#canvasFront {
    z-index: 2;
    position: relative;
    top: -570px;
}